@page "/"
@namespace ConformU.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conform Universal</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
    <link href="css/site.css" rel="stylesheet" />

    <!-- Blazorise support -->
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link href="_content/Blazorise.TreeView/blazorise.treeview.css" rel="stylesheet" />

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <!-- inside of body section and after the div/app tag  -->
    <script src="Content/Scripts/jquery-3.6.4.slim.min.js"></script>

    <script src="_content/Blazorise/blazorise.js"></script>
    <script src="_content/Blazorise.Bootstrap/blazorise.bootstrap.js"></script>

    <div id="conform-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An un-handled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    <script>
        function setTitle(title) {
            document.title = title;
        }
        function XXscrollToBottom(ref) {
            ref.scrollTop = ref.scrollHeight;
        }
    </script>

    <script>
        function CloseDownApplication() {
            window.open("/CloseApplication");
        }
    </script>

    <script>
        IdentifyBrowser = () => {
            var sBrowser, sUsrAg = navigator.userAgent;

            if (sUsrAg.indexOf("Firefox") > -1) {   // "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0"
                sBrowser = "Mozilla Firefox";
            } else if (sUsrAg.indexOf("SamsungBrowser") > -1) {     // "Mozilla/5.0 (Linux; Android 9; SAMSUNG SM-G955F Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/9.4 Chrome/67.0.3396.87 Mobile Safari/537.36
                sBrowser = "Samsung Internet";
            } else if (sUsrAg.indexOf("Opera") > -1 || sUsrAg.indexOf("OPR") > -1) {         // "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36 OPR/57.0.3098.106"
                sBrowser = "Opera";
            } else if (sUsrAg.indexOf("Trident") > -1) {            // "Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; .NET4.0C; .NET4.0E; Zoom 3.6.0; wbx 1.0.0; rv:11.0) like Gecko"
                sBrowser = "Microsoft Internet Explorer";
            } else if (sUsrAg.indexOf("Edge") > -1) {               // "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36 Edge/16.16299"
                sBrowser = "Microsoft Edge";
            } else if (sUsrAg.indexOf("Chrome") > -1) {             // "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/66.0.3359.181 Chrome/66.0.3359.181 Safari/537.36"
                sBrowser = "Google Chrome or Chromium";
            } else if (sUsrAg.indexOf("Safari") > -1) {             // "Mozilla/5.0 (iPhone; CPU iPhone OS 11_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.0 Mobile/15E148 Safari/604.1 980x1306"
                sBrowser = "Apple Safari";
            } else {
                sBrowser = "unknown";
            }

            return sBrowser;
        };
    </script>

    <script>
        // Return position information for a control with the supplied element ID
        GetBoundingClientRect = (elementId) => {
            let rect = null;
            try {
                rect = document.getElementById(elementId).getBoundingClientRect();
            }
            catch (err) {
                rect = null;
            }

            return rect;
        };


        // Return size information for the browser window
        GetBoundingWindowRect = () => {
            return new DOMRect(0,
                0,
                window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
                window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight)
                ;
        }
    </script>

    <script>
        // Listen for page resize
        function resizeListener(dotnethelper)
        {
            $(window).resize(() =>
            {
                let browserHeight = $(window).innerHeight();
                let browserWidth = $(window).innerWidth();
                dotnethelper.invokeMethodAsync('SetBrowserDimensions', browserWidth, browserHeight).then(() => 
                {
                    // success, do nothing
                }).catch(error => { console.log("Error during browser resize: " + error); });
            });
        }
    </script>

    <script>ScrollToBottom = (elementId) => { document.getElementById(elementId).scrollTop = document.getElementById(elementId).scrollHeight; };</script>

    <script>
        // Get the element's scroll position
        function getScrollPosition(elementId) {
            let element = document.getElementById(elementId);

            return {
                scrollTop: element.scrollTop,
                scrollLeft: element.scrollLeft,
                scrollHeight: element.scrollHeight,
                clientHeight: element.clientHeight
            };
        }

        function setScrollTop(elementId, scrollTop) {
            let element = document.getElementById(elementId);
            element.scrollTop = scrollTop;
        }

    </script>
</body>
</html>
