@inherits LayoutComponentBase
@inject ConformLogger conformLogger
@inject ConformConfiguration configuration
@using static ConformU.ConformConstants

<div class="sidebar">
    <NavMenu />
</div>
<div class="main">
    <div class="top-row px-4">
        <span>Current device - @deviceName (@deviceTechnology @deviceType)</span>
        <a href="https://ascom-standards.org" target="_blank">ASCOM Initiative</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
<div>
    <RadzenNotification />
</div>

@code
{
    private string deviceName;
    private DeviceType deviceType;
    private string deviceTechnology;

    protected override void OnInitialized()
    {
        configuration.ConfigurationChanged += OnConfigurationChanged;
        SetDisplayVariables();
    }

    private void OnConfigurationChanged(object caller, EventArgs args)
    {
        SetDisplayVariables();
        InvokeAsync(StateHasChanged);
    }

    private void SetDisplayVariables()
    {
        conformLogger.LogDebug("MainLayout - SetDisplayVariables", $"Device description: {configuration.Settings.CurrentDeviceName} {configuration.Settings.CurrentDeviceType} {configuration.Settings.CurrentDeviceTechnology}");
        if (configuration.Settings.CurrentDeviceTechnology == "Alpaca")
        {
            deviceName = $"{configuration.Settings.CurrentDeviceName} - {configuration.Settings.CurrentAlpacaDevice.IpAddress}:{configuration.Settings.CurrentAlpacaDevice.IpPort}";
        }
        else
        {
            deviceName = configuration.Settings.CurrentDeviceName;
        }
        deviceType = configuration.Settings.CurrentDeviceType;
        deviceTechnology = configuration.Settings.CurrentDeviceTechnology;

    }
}